<footer>
    <p>
        <a href="https://discord.gg/D59w9g6Ptr" target="_blank"><img class="icon" src="/static/img/icon_discord.svg" alt="Discord"></a>
        <a href="https://x.com/kodamaChameleon" target="_blank"><img class="icon" src="/static/img/icon_x.svg" alt="X"></a>
        <a href="https://github.com/kodamaChameleon" target="_blank"><img class="icon" src="/static/img/icon_github.svg" alt="Github"></a>
    </p>
    <p>&copy; 2024 Kodama Chameleon</p>
    <img src="/static/img/Mini-Kodama-Look.PNG">
</footer>
