<header class="site-header">
    <div class="header-container">
        <div class="header-logo">
            <img src="/static/img/kodama.png" alt="Logo">
        </div>
        <div class="header-title">
            <h1>Kodama the Chameleon</h1>
            <h3>Threat Intelligence and Other Contemplations...</h3>
        </div>
        <div class="header-menu">
            <div class="dropdown">
                <button class="dropbtn">☰</button>
                <div class="dropdown-content">
                    <a href="/">Home</a>
                    <a href="/blog">Blog</a>
                    <a href="/community">Community</a>
                </div>
            </div>
        </div>
    </div>
</header>
